/* Main color: #9c0b08; */
body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 10em;
}

h2 {
    font-size: 5em;
}

/* ============================================================================ */
/* Navigation Bar */
/* ============================================================================ */

/* W3 Nav style */
.topnav {
    overflow: hidden;
    background-color: #9c0b08;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 20px;
}

.active {
    background-color: #9c0b08;
    color: white;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: #9c0b08;
    color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Developer Nav Style */
#inpacelogo {
    padding-top: 5px;
    padding-bottom: 1px;
}

#ilogo {
    width: 150px;
}

#links {
    padding-top: 10px;
    padding-bottom: 12px;
}

#links:hover {
    background-color: #4b0504;
    ;
}

/* ============================================================================ */
/* Section 1 */
/* ============================================================================ */
#s1 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 150px;
    height: 100vh;
    background-color: #9c0b08;
    color: white;
}

#para {
    margin-top: 100px;
}

#s1 p {
    font-size: 3em;
    margin: 50px 0 0 200px;
}


#godown {
    margin: 100px 0 0 200px;
    border-radius: 50px;
    padding: 10px 25px 10px 25px;
    font-size: 2em;
    color: white;
    background-color: #2222228c;
}

#godown:hover {
    background-color: black;
    color: white;
    transition: ease-in-out 0.2s;
}

/* ============================================================================ */
/* Section 2 */
/* ============================================================================ */
#s2 {
    padding-top: 100px;
    height: auto;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 150px;
    background-color: #f1f2f6;
    color: black;
}

#services {
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#s2 li {
    margin-top: 45px;
    font-size: 2.5em;
}

#s2 p {
    font-size: 0.65em;
}

/* ============================================================================ */
/* Section 3 */
/* ============================================================================ */
#s3 {
    padding-top: 100px;
    height: auto;
    width: 100%;
    background-color: #ffffff;
}

#row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
    margin-top: 50px;
}

#col {
    text-align: center;
    flex: 5%;
}

#col img {
    margin-top: 8px;
    vertical-align: middle;
    padding: 15px;
    width: 10%;
}

/* ============================================================================ */
/* Section 4 */
/* ============================================================================ */

#s4 {
    padding-top: 100px;
    height: auto;
    width: 100%;
    background-color: #ffffff;
}


/* ============================================================================ */
/* Section 5 */
/* ============================================================================ */

#s5 {
    padding-top: 100px;
    height: auto;
    width: 100%;
    background-color: #ffffff;
}

#s5 h3{
    font-size: 3em;
    text-align: center;
}

#s5 p, span,{
    font-size: 1.5em;
}

#s5 label {
    font-size: 1.2em;
}



/* ============================================================================ */
/* Footer */
/* ============================================================================ */

/* ============================================================================ */
/* Media Queries */
/* ============================================================================ */

@media screen and (max-width: 800px) {

}

/*Media Queries*/

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) and (max-width: 1361) {
    #s1 {
        height: auto;
        padding-bottom: 50px;
    }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    #s1 {
        height: 100vh;
        padding-bottom: 50px;
        padding-top: 50px;
    }

    #s1 p {
        margin: 50px 0 0 100px;
    }

    #godown {

        margin: 50px 0 0 100px;
    }

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

/* Also includes iPad */
@media (min-width: 768px) and (max-width: 1024px) {

    /* Navigation bar */
    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }

    a.icon {
        font-size: 15px;
        padding: 10px;
    }

    /* About Us */
    #s1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
    }

    #s1 h1 {
        text-align: center;
        margin: 0;
    }

    #s1 p {
        padding: 0;
        margin: 0 10px 0 10px;
    }

    #godown {
        text-align: center;
        margin: 50px 0 100px 0;
        padding: 10px 25px 10px 25px;
    }

    /* Services */
    #s2 {
        height: auto;
        padding-right: 10px;
        padding-left: 10px;
    }

    #s2 h2 {
        font-size: 4em;
        text-align: center;
    }

    #s2 h3 {
        font-size: 0.8em;
    }

    #s2 p {
        font-size: 0.7em;
    }

    #s2 ul {
        padding-inline-start: 10px;
    }

    #s2 li {
        margin-top: 35px;
    }

    #services {
        display: flex;
        justify-content: center;
    }

    #col img {
        width: 30%;
    }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }

    a.icon {
        font-size: 15px;
        padding: 10px;
    }

    #inpacelogo {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    /* Clients */
    #s3 {
        height: auto;
        padding-top: 50px;
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
    }

    #s3 h2 {
        font-size: 3.5em;
    }


    #col img {
        width: 100%;
    }

    #col {
        text-align: center;
        flex: 0%;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    /* Navigation Bar */
    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }

    a.icon {
        font-size: 15px;
        padding: 10px;
    }

    /* Global for Mobile */

    /* About Us */
    #s1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
    }

    #s1 h1 {
        font-size: 5em;
        text-align: center;
        margin: 0;
    }

    #s1 p {
        font-size: 1.8em;
        padding: 0;
        margin: 0 10px 0 10px;
    }

    #godown {
        text-align: center;
        font-size: 1.5em;
        margin: 50px 0 100px 0;
        padding: 10px 25px 10px 25px;
    }

    #para {
        margin-top: 25px;
    }

    /* Services */


    #s2 {
        height: auto;
        padding-top: 50px;
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
    }

    #s2 h2 {
        font-size: 3.5em;
    }

    #s2 h3 {
        font-size: 0.7em;
    }

    #s2 p {
        font-size: 0.5em;
    }

    #s2 ul {
        padding-inline-start: 10px;
        padding: 0;
    }

    #s2 li {
        margin-top: 25px;
    }

    #services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    /* Clients */
    #s3 {
        height: auto;
        padding-top: 50px;
        padding-right: 10px;
        padding-left: 10px;
        text-align: center;
    }

    #s3 h2 {
        font-size: 3.5em;
    }


    #col img {
        width: 100%;
    }

    #col {
        text-align: center;
        flex: 0%;
    }
}